body {
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden; /* Prevent scrolling */
}

.container {
  max-width: 600px;
}

button {
  padding: 10px 20px;
  margin: 20px;
  background-color: #444;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #666;
}

#animation-canvas {
  display: block;
  background-color: #111;
  border: 2px solid #333;
  width: 100%; /* Ensure canvas takes up full width */
  max-width: 400px; /* Set maximum width */
  height: auto; /* Maintain aspect ratio */
}
